html,
body {
  margin: 5px;
  padding: 50px;
}

.game-name {
  font-family: "Poiret One", cursive;
}

.board {
  display: flex;
  background-color: SaddleBrown;
  height: 200px;
  width: 800px;
  border-radius: 50px;
  padding: 30px;
}

.section {
  background-color: rgba(255, 255, 255, 0.03);
  margin: 5px;
}

.endsection {
  display: flex;
  flex-grow: 1;
}

.midsection {
  display: flex;
  flex-direction: column;
  flex-grow: 6;
}

.midrow {
  display: flex;
  flex-grow: 1;
}

.midrow .pot:hover {
  background-color: rgba(255, 255, 255, 0.16);
  cursor: pointer;
}

.pot {
  position: relative;
  background-color: rgba(255, 255, 255, 0.08);
  flex-grow: 1;
  margin: 5px;
  border-radius: 50px;
}

.bead {
  position: absolute;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

/*MENU BAR CSS */
/*I just use this for the menu bar on the board.php page. The other one is bootstrap.*/
.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav-bar li {
  float: left;
  color: #4caf50;
}

.nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-bar .username {
  float: right;
  padding-top: 10px;
  padding-right: 10px;
}

.nav-bar .float-right {
  float: right;
}

.nav-bar li a:hover:not(.active) {
  background-color: #111;
}

.nav-bar .active {
  background-color: #4caf50;
}
